<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.epledger">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:name=".db.MainApplication"
        android:icon="@mipmap/nic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExceptPains">

        <activity android:name=".chart.ShowChartActivity" />

<!--        android:windowSoftInputMode="adjustPan"-->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".qaction.screenshot.ScreenshotService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />

        <!-- 需要使用taskAffinity标识，标识和主应用属于不同的任务。防止被清理时影响到主应用。 -->
        <activity
            android:name=".qaction.PopupActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity="com.example.ExceptPains.PopupActivity"
            android:theme="@style/Theme.Dialog.Alert.WithOurColors">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- TODO: icon需要修改 -->
        <service
            android:name=".qaction.NewRecordTileService"
            android:icon="@drawable/nic_service"
            android:label="@string/tile_service_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".qaction.CKForeground"
            android:enabled="true"
            android:process=":background" />
    </application>

</manifest>